/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 kwi 2023, 22:03:56
    Author     : User
*/

.class1
{
    -fx-opacity:80%;
   -fx-transition: -fx-background-color 0.5s ease;
}

 .class1:hover {
       -fx-opacity:20%;
    }